# See https://help.github.com/ignore-files/ for more about ignoring files.

# expo
.expo/

# dependencies
/node_modules

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#android keystore
./android/app/my-release-key.keystore

# Firebase
ios/eBlink/GoogleService-Info.plist
android/app/google-services.json

# Notification sounds
ios/s1Blink.aiff
ios/s2Tesou.aiff
ios/s3Urgent.aiff
ios/s4Oubliepas.aiff
ios/s5Jarrive.aiff
ios/s6Cestfait.aiff

android/app/src/main/res/raw/s1blink.wav
android/app/src/main/res/raw/s2tesou.wav
android/app/src/main/res/raw/s3urgent.wav
android/app/src/main/res/raw/s4oubliepas.wav
android/app/src/main/res/raw/s5jarrive.wav
android/app/src/main/res/raw/s6cestfait.wav

# Android build
./android/app/build/